<% cache do %>
  <section id="page_content">
    <ul id="sites">
      <li>
        <%= image_tag "nickjreed.png", :title => "Forever Украина", :class => "site", :size => "760x460" %>
        <div class="tab first"></div>
        <div class="site_info">
          <h3 style="color:yellow">Описание</h3>
          <a class="site_url" href="http://www.foreverliving.com.ua" target="_blank">www.foreverliving.com.ua</a>
          <div class="info_section">
            <div class="info_label">ГЕЛЬ АЛОЭ ВЕРА</div>
            <ul>
              <li style="color:white">Стабилизированный Гель Алоэ Вера (96,2%)</li>
              <li style="color:white">Сорбитол Аскорбиновая кислота (витамин С)</li>
              <li style="color:white">Лимонная кислота</li>
              <li style="color:white">Сорбат калия</li>
              <li style="color:white">Бензоат натрия</li>
              <li style="color:white">Ксантановая кислота</li>
              <li style="color:white">Токоферол (витамин Е)</li>
            </ul>
          </div>
          <div class="info_section">
            <p style="color:white">Чудодейственный лист Алоэ вера содержит 75 питательных веществ и 200 активных компонентов, включая 20 минералов,
              18 аминокислот и 12 витаминов. Гель Алоэ Вера – это натуральный продукт с уникальной сбалансированной формулой.
              Алоэ обладает очищающими свойствами, улучшает усваиваемость питательных веществ, ускоряет выведение шлаков
              и продуктов обмена из организма, улучшает обмен веществ. 
            </p>
            </br>
            <p style="color:cyan">Цена: 281.95</p>
            <div class="info_label">Код продукта: 15</div>
          </div>
          <%= image_tag "closed.png", :title => "Close info panel", :class => "close_btn", :size => "16x16" %>
        </div>
        <div class="site_labels">
          <%= image_tag "file.png", :title => "Info", :class => "site_info_btn", :size => "16x16" %>
          <div class="site_label">Полное описание <small>(Цена: 284.95)</small></div>
        </div>
      </li>
      <li>
        <%= image_tag "turbolinks-compatibility.png", :title => "Turbolinks Compatibility", :class => "site", :size => "760x460" %>
        <div class="tab second"></div>
        <div class="site_info">
          <h3 style="color:yellow">Описание</h3>
          <a class="site_url" href="http://www.foreverliving.com.ua" target="_blank">www.foreverliving.com.ua</a>
          <div class="info_section">
            <div class="info_label">ГЕЛЬ АЛОЭ ВЕРА</div>
            <ul>
              <li style="color:white">Стабилизированный Гель Алоэ Вера (96,2%)</li>
              <li style="color:white">Сорбитол Аскорбиновая кислота (витамин С)</li>
              <li style="color:white">Лимонная кислота</li>
              <li style="color:white">Сорбат калия</li>
              <li style="color:white">Бензоат натрия</li>
              <li style="color:white">Ксантановая кислота</li>
              <li style="color:white">Токоферол (витамин Е)</li>
            </ul>
          </div>
          <div class="info_section">
            <p style="color:white">Чудодейственный лист Алоэ вера содержит 75 питательных веществ и 200 активных компонентов, включая 20 минералов,
              18 аминокислот и 12 витаминов. Гель Алоэ Вера – это натуральный продукт с уникальной сбалансированной формулой.
              Алоэ обладает очищающими свойствами, улучшает усваиваемость питательных веществ, ускоряет выведение шлаков
              и продуктов обмена из организма, улучшает обмен веществ. 
            </p>
            </br>
            <p style="color:cyan">Цена: 281.95</p>
            <div class="info_label">Код продукта: 15</div>
          </div>
          <%= image_tag "closed.png", :title => "Close info panel", :class => "close_btn", :size => "16x16" %>
        </div>
        <div class="site_labels">
          <%= image_tag "file.png", :title => "Info", :class => "site_info_btn", :size => "16x16" %>
          <div class="site_label">Полное описание <small>(Цена: 184.95)</small></div>
        </div>
      </li>
      <li>
        <%= image_tag "cjandmary.png", :title => "CJ and Mary", :class => "site", :size => "760x460" %>
        <div class="tab third"></div>
        <div class="site_info">
          <h3 style="color:yellow">Описание</h3>
          <a class="site_url" href="http://www.foreverliving.com.ua" target="_blank">www.foreverliving.com.ua</a>
          <div class="info_section">
            <div class="info_label">ГЕЛЬ АЛОЭ ВЕРА</div>
            <ul>
              <li style="color:white">Стабилизированный Гель Алоэ Вера (96,2%)</li>
              <li style="color:white">Сорбитол Аскорбиновая кислота (витамин С)</li>
              <li style="color:white">Лимонная кислота</li>
              <li style="color:white">Сорбат калия</li>
              <li style="color:white">Бензоат натрия</li>
              <li style="color:white">Ксантановая кислота</li>
              <li style="color:white">Токоферол (витамин Е)</li>
            </ul>
          </div>
          <div class="info_section">
            <p style="color:white">Чудодейственный лист Алоэ вера содержит 75 питательных веществ и 200 активных компонентов, включая 20 минералов,
              18 аминокислот и 12 витаминов. Гель Алоэ Вера – это натуральный продукт с уникальной сбалансированной формулой.
              Алоэ обладает очищающими свойствами, улучшает усваиваемость питательных веществ, ускоряет выведение шлаков
              и продуктов обмена из организма, улучшает обмен веществ. 
            </p>
            </br>
            <p style="color:cyan">Цена: 281.95</p>
            <div class="info_label">Код продукта: 15</div>
          </div>
          <%= image_tag "closed.png", :title => "Close info panel", :class => "close_btn", :size => "16x16" %>
        </div>
        <div class="site_labels">
          <%= image_tag "file.png", :title => "Info", :class => "site_info_btn", :size => "16x16" %>
          <div class="site_label">Полное описание <small>(Цена: 484.95)</small></div>
        </div>
      </li>
      <li>
        <%= image_tag "sitesusage.png", :title => "Sites Usage", :class => "site", :size => "760x460" %>
        <div class="tab fourth"></div>
        <div class="site_info">
          <h3 style="color:yellow">Описание</h3>
          <a class="site_url" href="http://www.foreverliving.com.ua" target="_blank">www.foreverliving.com.ua</a>
          <div class="info_section">
            <div class="info_label">ГЕЛЬ АЛОЭ ВЕРА</div>
            <ul>
              <li style="color:white">Стабилизированный Гель Алоэ Вера (96,2%)</li>
              <li style="color:white">Сорбитол Аскорбиновая кислота (витамин С)</li>
              <li style="color:white">Лимонная кислота</li>
              <li style="color:white">Сорбат калия</li>
              <li style="color:white">Бензоат натрия</li>
              <li style="color:white">Ксантановая кислота</li>
              <li style="color:white">Токоферол (витамин Е)</li>
            </ul>
          </div>
          <div class="info_section">
            <p style="color:white">Чудодейственный лист Алоэ вера содержит 75 питательных веществ и 200 активных компонентов, включая 20 минералов,
              18 аминокислот и 12 витаминов. Гель Алоэ Вера – это натуральный продукт с уникальной сбалансированной формулой.
              Алоэ обладает очищающими свойствами, улучшает усваиваемость питательных веществ, ускоряет выведение шлаков
              и продуктов обмена из организма, улучшает обмен веществ. 
            </p>
            </br>
            <p style="color:cyan">Цена: 281.95</p>
            <div class="info_label">Код продукта: 15</div>
          </div>
          <%= image_tag "closed.png", :title => "Close info panel", :class => "close_btn", :size => "16x16" %>
        </div>
        <div class="site_labels">
          <%= image_tag "file.png", :title => "Info", :class => "site_info_btn", :size => "16x16" %>
          <div class="site_label">Полное описание <small>(Цена: 18.95)</small></div>
        </div>
      </li>
      <li>
        <%= image_tag "sitestech.png", :title => "Sites Tech Support", :class => "site", :size => "760x460" %>
        <div class="tab fifth"></div>
        <div class="site_info">
          <h3 style="color:yellow">Описание</h3>
          <a class="site_url" href="http://www.foreverliving.com.ua" target="_blank">www.foreverliving.com.ua</a>
          <div class="info_section">
            <div class="info_label">ГЕЛЬ АЛОЭ ВЕРА</div>
            <ul>
              <li style="color:white">Стабилизированный Гель Алоэ Вера (96,2%)</li>
              <li style="color:white">Сорбитол Аскорбиновая кислота (витамин С)</li>
              <li style="color:white">Лимонная кислота</li>
              <li style="color:white">Сорбат калия</li>
              <li style="color:white">Бензоат натрия</li>
              <li style="color:white">Ксантановая кислота</li>
              <li style="color:white">Токоферол (витамин Е)</li>
            </ul>
          </div>
          <div class="info_section">
            <p style="color:white">Чудодейственный лист Алоэ вера содержит 75 питательных веществ и 200 активных компонентов, включая 20 минералов,
              18 аминокислот и 12 витаминов. Гель Алоэ Вера – это натуральный продукт с уникальной сбалансированной формулой.
              Алоэ обладает очищающими свойствами, улучшает усваиваемость питательных веществ, ускоряет выведение шлаков
              и продуктов обмена из организма, улучшает обмен веществ. 
            </p>
            </br>
            <p style="color:cyan">Цена: 281.95</p>
            <div class="info_label">Код продукта: 15</div>
          </div>
          <%= image_tag "closed.png", :title => "Close info panel", :class => "close_btn", :size => "16x16" %>
        </div>
        <div class="site_labels">
          <%= image_tag "file.png", :title => "Info", :class => "site_info_btn", :size => "16x16" %>
          <div class="site_label">Полное описание <small>(Цена: 83.95)</small></div>
        </div>
      </li>
    </ul>
  </section>
  <section id="page_header">
    <div class="small_logo" style="font-size:14pt;">Каталог продуктов</div>
    <div class="page_header_title"></div>
    <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'На главную страницу' %>
  </section>
<% end %>
